/* TABLE OF CONTENTS
---------------------------------------------------------------------------- 
    1. :root
    2. Layout
    3. Sections
    4. Margin & Padding
    5. Typography
    6. Links
    7. Forms
    8. Media
    9. Misc
    10. Media Queries 
*/

:root {
    /* COLORS */
        --white: #ffffff;
        --black: #000000;
        --silver: #C0C0C0;
        --light-gray: #D3D3D3;
        --slate-gray: #708090;
        --gray: #808080;
        --dark-gray: #A9A9A9;
        --dk-blue: #00008B;
        --medium-blue: #0000CD;
        --steel-blue: #4682B4;
        --light-blue: #00FFFF;
        --aqua: #00FFFF;
        --green: #008000;
        --lawn-green: #7CFC00;
        --green-yellow: #ADFF2F;
        --lime-green: #00FF00;
        --red: #FF0000;
        --yellow: #FFFF00;
        --orange: #FFA500;
        --orange-red: #FF4500;
        --pink: #FF69B4;
    
    /* VARIABLES */
    
    /* Font Color */
    --font: var(--white);
    /* Background-Color */
    --bg: var(--dark-gray);
    /* Link text color */
    --link: var(--aqua);
    /* Link text hover color */
    --link-hover: var(--dk-blue); 
    /* Form Submit button background-color */
    --submit-bg: ;
    /* Form Submit button text color */
    --submit-txt: ;
    /* Form Submit button background color on hover */
    --submit-bg-hover: ;
    /* Form Submit button text on hover */
    --submit-txt-hover: ;
    /* Form Container background-color */
    --form-bg: ;
    }
    
    /* LAYOUT
    ---------------------------------------------------------------------------- */
    /* GRID */
    .grid-container { 
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 10px;
    }
    .col {
        text-align: center;
    }
    .col-2 {
        grid-column: span 2;
        text-align: center;
    }
    .col-3 {
        grid-column: span 3;
        text-align: center;
    }
    .col-4 {
        grid-column: span 4;
        text-align: center;
    }
    .col-6 {
        grid-column: span 6;
        text-align: center;
    }
    /* FLEXBOX */
    .flex-container { display: flex;}
    .flex-container > div { margin: .1em;padding: .3em;border-radius: 3px;flex: 1;}
  
    
    /* SECTIONS
    ---------------------------------------------------------------------------- */
    * { box-sizing: border-box;}
    html {
        font-size: 62.5%; }
    body {
        font-size: 1.7em;
        line-height: 1.6;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
        color: var(--font);
        background-color: var(--bg);
    }
    .fixed-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: var(--footer-bg);
        color: var(--footer-txt);
        text-align: center;
    }
    
    /* MARGIN & PADDING
    ---------------------------------------------------------------------------- */
    .m-top-auto { margin-top: auto;}
    .m-top-10 { margin-top: 10px;}
    .m-top-25 { margin-top: 25px;}
    .m-top-50 { margin-top: 50px;}
    .m-top-75 { margin-top: 75px;}
    .m-top-100 { margin-top: 100px;}
    
    .m-bottom-auto { margin-bottom: auto;}
    .m-bottom-10 { margin-bottom: 10px;}
    .m-bottom-25 { margin-bottom: 25px;}
    .m-bottom-50 { margin-bottom: 50px;}
    .m-bottom-75 { margin-bottom: 75px;}
    .m-bottom-100 { margin-bottom: 100px;}
    
    .m-left-auto { margin-left: auto;}
    .m-left-10 { margin-left: 10px;}
    .m-left-25 { margin-left: 25px;}
    .m-left-50 { margin-left: 50px;}
    .m-left-75 { margin-left: 75px;}
    .m-left-100 { margin-left: 100px;}
    
    .m-right-auto { margin-right: auto;}
    .m-right-10 { margin-right: 10px;} 
    .m-right-25 { margin-right: 25px;}
    .m-right-50 { margin-right: 50px;}
    .m-right-75 { margin-right: 75px;}
    .m-right-100 { margin-right: 100px;}
    
    .center { margin-left: auto;margin-right: auto;}
    
    .p-4 { padding: 4px;}
    .p-6 { padding: 6px;}
    .p-8 { padding: 8px;}
    .p-12 { padding: 12px;}
    .p-15 { padding: 15px;}
    .p-20 { padding: 20px;}
    
    /* TYPOGRAPHY
    ---------------------------------------------------------------------------- */
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 2rem;
        font-weight: 300; }
      h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
      h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
      h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
      h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
      h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
      h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

      p { margin-top: 0;}
    
    /* LINKS
    ---------------------------------------------------------------------------- */
    a { text-decoration: none;color: var(--link);transition: 0.3s;}
    a:hover { color: var(--link-hover);}
    
    /* FORMS
    ---------------------------------------------------------------------------- */
	form{
		font-family: 'Roboto', sans-serif;
		width: 500px;
		padding: 30px;
		background: #FFFFFF;
        color: #000000;
		margin: 50px auto;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
		-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
		-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
	.form-header {
		background: #4D4D4D;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		color: #797979;
		font-size: 18px;
		font-weight: 100;
		padding: 20px;
		margin: -30px -30px 30px -30px;
}
    input[type="text"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="time"],
    input[type="url"],
	input[type="password"],
	textarea,
	select 
    {
	    box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    outline: none;
	    display: block;
	    width: 100%;
	    padding: 7px;
	    border: none;
	    border-bottom: 1px solid #ddd;
	    background: transparent;
	    margin-bottom: 10px;
	    font: 16px Arial, Helvetica, sans-serif;
	    height: 45px;
}
	textarea{
		resize:none;
		overflow: hidden;
}
	input[type="button"], 
	input[type="submit"]{
		-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
		-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
		box-shadow: inset 0px 1px 0px 0px #45D6D6;
		background-color: #2CBBBB;
		border: 1px solid #27A0A0;
		display: inline-block;
		cursor: pointer;
		color: #FFFFFF;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 14px;
		padding: 8px 18px;
		text-decoration: none;
		text-transform: uppercase;
}
    input[type="submit"] {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
	input[type="button"]:hover, 
	input[type="submit"]:hover {
		background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
		background-color:#34CACA;
    
    /* MEDIA
    ---------------------------------------------------------------------------- */
    img { max-width: 100%;height: auto;}
    img:hover { opacity: 0.6;}
    
    /* MISC
    ---------------------------------------------------------------------------- */
    .dropbtn {
        background-color: ;
        color: ;
        padding: 16px;
        font-size: 16px;
        border: none;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: ;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: ;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {background-color: ;}
    
    .dropdown:hover .dropdown-content {display: block;}
    
    .dropdown:hover .dropbtn {background-color: ;}
    
    hr { width: 100%;margin-top: 0;border: 2px solid #ffffff;}
    /* COLORS
    ---------------------------------------------------------------------------- */
    .bg-white { background-color: #ffffff;}
    .bg-black {background-color:#000000;}
    .bg-silver { background-color: #C0C0C0;}
    .bg-light-gray { background-color: #D3D3D3;}
    .bg-slate-gray { background-color: #708090;}
    .bg-gray { background-color: #808080;}
    .bg-dark-gray { background-color: #A9A9A9;}
    .bg-dk-blue { background-color: #00008B;}
    .bg-medium-blue { background-color: #0000CD;}
    .bg-steel-blue { background-color: #4682B4;}
    .bg-light-blue { background-color:#00FFFF;}
    .bg-aqua { background-color:#00FFFF;}
    .bg-green { background-color: #008000;}
    .bg-lawn-green { background-color: #7CFC00;}
    .bg-green-yellow { background-color:#ADFF2F;}
    .bg-lime-green { background-color: #00FF00;}
    .bg-red { background-color: #FF0000;}
    .bg-yellow { background-color: #FFFF00;}
    .bg-orange { background-color: #FFA500;}
    .bg-orange-red { background-color: #FF4500;}
    .bg-pink { background-color: #FF69B4;}
  /* TEXT COLORS
  ------------------------------------------------------------------------------ */
  .txt-white { color: #ffffff;}
  .txt-black {color:#000000;}
  .txt-silver { color: #C0C0C0;}
  .txt-light-gray { color: #D3D3D3;}
  .txt-slate-gray { color: #708090;}
  .txt-gray { color: #808080;}
  .txt-dark-gray { color: #A9A9A9;}
  .txt-dk-blue { color: #00008B;}
  .txt-medium-blue { color: #0000CD;}
  .txt-steel-blue { color: #4682B4;}
  .txt-light-blue { color:#00FFFF;}
  .txt-aqua { color:#00FFFF;}
  .txt-green { color: #008000;}
  .txt-lawn-green { color: #7CFC00;}
  .txt-green-yellow { color:#ADFF2F;}
  .txt-lime-green { color: #00FF00;}
  .txt-red { color: #FF0000;}
  .txt-yellow { color: #FFFF00;}
  .txt-orange { color: #FFA500;}
  .txt-orange-red { color: #FF4500;}
  .txt-pink { color: #FF69B4;}
  
    /* MEDIA QUERIES
    ---------------------------------------------------------------------------- */
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        .container { max-width: 600px;display: block !important;}
        .col, .col-2, .col-3, .col-4, .col-6 { margin-top: 10px;}
        .flex-container { display: block !important;text-align: center;}
    }
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        .container { max-width: 767px;}
        h1 { font-size: 5.0rem; }
        h2 { font-size: 4.2rem; }
        h3 { font-size: 3.6rem; }
        h4 { font-size: 3.0rem; }
        h5 { font-size: 2.4rem; }
        h6 { font-size: 1.5rem; }
    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .container { max-width: 991px;}
    }
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .container { max-width: 1199px;}
    }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {...}