<style>
    :root {
    --white: #ffffff;
    --black: #000000;
    --silver: #C0C0C0;
    --light-gray: #D3D3D3;
    --slate-gray: #708090;
    --gray: #808080;
    --dark-gray: #A9A9A9;
    --dk-blue: #00008B;
    --medium-blue: #0000CD;
    --steel-blue: #4682B4;
    --light-blue: #00FFFF;
    --aqua: #00FFFF;
    --green: #008000;
    --lawn-green: #7CFC00;
    --green-yellow: #ADFF2F;
    --lime-green: #00FF00;
    --red: #FF0000;
    --yellow: #FFFF00;
    --orange: #FFA500;
    --orange-red: #FF4500;
    --pink: #FF69B4;
}
.container { 
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}
.col {
    text-align: center;
}
.col-6 {
    grid-column: span 2;
    text-align: center;
}
.col-4 {
    grid-column: span 3;
    text-align: center;
}
.col-3 {
    grid-column: span 4;
    text-align: center;
}
.col-2 {
    grid-column: span 6;
    text-align: center;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container { max-width: 600px;display: block !important;}
    [class*="col-"], .col {
      margin-top: 10px;
    }
}
</style>
<div class="container">
    <div style="background-color: var(--lime-green);" class="col">1</div>
    <div style="background-color: var(--light-blue);" class="col">2</div>
    <div style="background-color: var(--red);" class="col">3</div>
    <div style="background-color: var(--orange);" class="col">4</div>
    <div style="background-color: var(--steel-blue);" class="col">5</div>
    <div style="background-color: var(--aqua);" class="col">6</div>
    <div style="background-color: var(--pink);" class="col">7</div>
    <div style="background-color: var(--yellow);" class="col">8</div>
    <div style="background-color: var(--silver);" class="col">9</div>
    <div style="background-color: var(--lawn-green);" class="col">10</div>
    <div style="background-color: var(--medium-blue);" class="col">11</div>
    <div style="background-color: var(--white);" class="col">12</div>
    <div style="background-color: var(--white);" class="col-6">2</div>
    <div style="background-color: var(--medium-blue);" class="col-6">11</div>
    <div style="background-color: var(--lawn-green);" class="col-6">10</div>
    <div style="background-color: var(--silver);" class="col-6">10</div>
    <div style="background-color: var(--yellow);" class="col-6">10</div>
    <div style="background-color: var(--pink);" class="col-6">10</div>
    <div style="background-color: var(--white);" class="col-4">2</div>
    <div style="background-color: var(--medium-blue);" class="col-4">11</div>
    <div style="background-color: var(--lawn-green);" class="col-4">10</div>
    <div style="background-color: var(--silver);" class="col-4">10</div>
    <div style="background-color: var(--white);" class="col-3">2</div>
    <div style="background-color: var(--medium-blue);" class="col-3">11</div>
    <div style="background-color: var(--lawn-green);" class="col-3">10</div>
</div>