/* Media Queries
----------------------------------------------*/

/* Small */
@media (min-width: 576px) {
    .container { max-width: 540px;}
}

/* Medium */
@media (min-width: 768px) {
    .container { max-width: 720px;}
}

/* Large */
@media (min-width: 992px) {
    .container { max-width: 960px;}
}

/* Extra Large */
@media (min-width: 1200px) {
    .container { max-width: 1140px;}
}

/* Extra Extra Large */
@media (min-width: 1400px) {
    .container { max-width: 1320px;}
}
