
<ul class="nav">
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Search</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="#">Work</a></li>
</ul>
<style>
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

body {
  background: #212121;
  padding: 50px 0;
}

.nav {
  font-family: 'Titillium Web';
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  paddin: 0;
}

.nav a {
  padding: .5em .8em;
  color: rgba(255,255,255,.5);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}
/* Top Right Arrow Hover Effect */
.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #ffa500;
  border-right: 3px solid #ffa500;
  transform: translate(-100%, 50%);
}
/* Bottom Left Arrow Hover Effect */
.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #ffa500;
  border-left: 3px solid #ffa500;
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}
/* Link Text After Hover */
.nav a:hover {
  color: #ffa500;
}
</style>